<h1 align="center">Hello from index.html.erb</h1>
<hr/>
<%= @places.count %>

<table align="center">
	<tr>
		<th>name</th>
		<th>description</th>
	</tr>
	<% @places.each do |place| %>
		<tr>
			<td><%= link_to place.name, place_path(place) %></td>
			<td><%= place.description %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'New Place', new_place_path %>