<p>
	<strong>Kategori:</strong>
	<%= @place.category.title %>
</p>
<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>
<%= link_to 'Delete', delete_place_path, method: :delete %>